@page "/libro"

<div class="row mt-4">
    <div class="col-8">
        <h4 class="card-title text-primary">Libros</h4>
    </div>
    <div class="col-3 offset-1">
        <NavLink href="libro/agregar" class="btn btn-primary form-control">Agregar Nuevo Libro</NavLink>

    </div>
</div>

@code {

}
