<h3>Ciclo de voda - componente hijo</h3>

@foreach (var item in EventType)
{
    @item
    <hr />

}


@code {
    [Parameter]

    public int CountValue { get; set; }

    List<string> EventType = new List<string>();
    protected override void OnInitialized()
    {
        EventType.Add("Componente hijo - Se esta llamando a Onitialized");
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        EventType.Add("Componente hijo - Se esta llamando a OnParametersSet");
    }

}
