<div>
    <div class="alert alert-info">
        @Titulo
    </div>

    <div class="alert alert-success">
        @if (SegunChildContent == null)
        {
            @if (ChildContent == null)
            {


                <span>Ups,al parecer no hay contenido</span>
            }
            else
            {
                <span>@ChildContent</span>
            }



        }
        else
        {
            <span>@SegunChildContent</span>
        }

    </div>
    <button class="btn btn-danger" @onclick="MetodoBtnOnClick">Click</button>
</div>

@code {
    [Parameter]
    public string Titulo { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public RenderFragment SegunChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> MetodoBtnOnClick { get; set; }
}
