

<div>
    <h4  class="text-primary pt-3">Segundo Componente Hijo</h4>
    <input id="libroNombre" class="form-control" @attributes="InputAtributos" placeholder="Texto inicial" />
</div>

@code {
    //[Parameter]
    //public string Placeholder { get; set; } = "Texto Inicial";
    //[Parameter]
    //public string Required { get; set; } = "Required";
    //[Parameter]
    //public string MaxLength { get; set; } = "10";

    [Parameter (CaptureUnmatchedValues =true)]
    public Dictionary<string, object> InputAtributos { get; set; } = new Dictionary<string, object>();

}
