@page "/cicloDeVida"
@using System.Threading;

<h1>Ciclo de Vida</h1>

<div class="border">
    <CicloDeVidaComponent CountValue="@currentCount"></CicloDeVidaComponent>
</div>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br/> @Count <button @onclick="EmpezarConteo">Empezar Conteo</button> 
@foreach (var item in EventType)
{
    @item
    <hr/>

}

@code {
    private int currentCount = 0;
    List<string> EventType = new List<string>();
    private int Count = 5;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnInitialized()
    {
        EventType.Add("Se esta llamando a Onitialized");
        base.OnInitialized();
    }

    protected override async Task OnInitializedAsync()
    {
        EventType.Add("Se esta llamando a OnInitializedAsync");

    }



    protected override void OnParametersSet()
    {
        EventType.Add("Se esta llamando a OnParametersSet");
    }

    protected override async Task OnParametersSetAsync()
    {
        EventType.Add("Se esta llamando a OnParametersSetAsync");


    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            currentCount = 111;
        }
        else
        {
            currentCount = 999;
        }
        EventType.Add("Se esta llamando a OnAfterRender");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        EventType.Add("Se esta llamando a OnAfterRenderAsync");
    }

    protected override bool ShouldRender()
    {
        EventType.Add("Se esta llamando a ShouldRender");
        return true;
    }

    void EmpezarConteo()
    {
        var timer = new Timer(TimeCallback,null,1000,1000);
    }

    void TimeCallback(object state)
    {
        if (Count >0)
        {
            Count--;
            InvokeAsync(StateHasChanged);
        }
    }

}
