@page "/componentePadre"
<h1>Componente Padre Hijo</h1>

<ComponenteHijo MetodoBtnOnClick="MostrarMensaje" Titulo="Primer Componenete Hijo" MensajeParaSubComponenteHijo="Este es un mensaje desde componente padre">
    
    <ChildContent> Contenido mostrado por RenderFragment desde componente principal</ChildContent>  
    <SegunChildContent>Segundo contenido por RenderFragment</SegunChildContent>
</ComponenteHijo>

<SegundoComponenteHijo placeholder="Placeholder determinado" ></SegundoComponenteHijo>


<p><b>@TextoMensaje</b></p>



@code {
    private string TextoMensaje = "";
    private void MostrarMensaje(MouseEventArgs e)
    {
        TextoMensaje = "Texto desde componente padre";
    }

}
