@page "/componenteavanzadorouting"
@inject NavigationManager NavigationManager


<h3>ComponenteAvanzadoRouting</h3>
<h4>Parametro 1: @Param1</h4>
<h4>Parametro 2: @Param2</h4>

<p>
    <button class="btn btn-primary" @onclick="CargarParametros">Cargar Parametros</button>
</p>

<button class="btn btn-primary" @onclick="Retroceder">Retroceder</button>

@code {
    private string Param1;
    private string Param2;

    private void CargarParametros()
    {
        var absoluteUri = new Uri(NavigationManager.Uri);
        var ConsultaParametros = System.Web.HttpUtility.ParseQueryString(absoluteUri.Query);

        Param1 = ConsultaParametros["param1"];
        Param2 = ConsultaParametros["param2"];
    }


    private void Retroceder()
    {
        NavigationManager.NavigateTo("componenteRouting");
    }

}
