@page "/componentePadre"
<h1>Componente Padre Hijo</h1>

<ComponenteHijo MetodoBtnOnClick="MostrarMensaje" Titulo="Primer Componenete Hijo">
    <ChildContent> Contenido mostrado por RenderFragment desde componente principal</ChildContent>  
    <SegunChildContent>Segundo contenido por RenderFragment</SegunChildContent>
</ComponenteHijo>

<SegundoComponenteHijo InputAtributos="InputAtributosPadre"></SegundoComponenteHijo>


<p><b>@TextoMensaje</b></p>



@code {
    private string TextoMensaje = "";
    private void MostrarMensaje(MouseEventArgs e)
    {
        TextoMensaje = "Texto desde componente padre";
    }

        public Dictionary<string, object> InputAtributosPadre { get; set; } = new Dictionary<string, object>()
    {
        { "required","required" },
        { "placeholder","Ingrese nombre del libro desde padre" },
        { "maxlength",5 },
    };
}
