@page "/componentePadre"
<h1>Componente Padre Hijo</h1>

<ComponenteHijo MetodoBtnOnClick="MostrarMensaje" Titulo="Primer Componenete Hijo">
    <ChildContent> Contenido mostrado por RenderFragment desde componente principal</ChildContent>  
    <SegunChildContent>Segundo contenido por RenderFragment</SegunChildContent>
</ComponenteHijo>

<SegundoComponenteHijo Placeholder="Parametro ingresa el nombre del libro" MaxLength="5"></SegundoComponenteHijo>


<p><b>@TextoMensaje</b></p>



@code {
    private string TextoMensaje = "";
    private void MostrarMensaje(MouseEventArgs e)
    {
        TextoMensaje = "Texto desde componente padre";
    }
}
